# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Тесты
frontend/__tests__/
frontend/test-results/
frontend/playwright.config.js

# Ассеты (временно)
frontend/src/assets/avatar.jpg
frontend/src/assets/avatar_1.jpg
frontend/src/assets/notFound.jpg